node_modules/
.sass-cache/
composer.lock
vendor
index.php
.phpunit.result.cache
reports
clover.xml
coverage.xml
assets
package-lock.json
package.json
mix-manifest.json
phpDocumentor.phar
webpack.mix.js
.phpdoc
docs
/.idea
build/
.DS_Store
.phpunit.cache
